<article class="post-1243 post type-post status-publish format-standard has-post-thumbnail hentry category-news span2" {% cycle 'style="margin-left: 0;', '', '' %}">
  <div class="entry-thumbnail">
    <a href="{{ post.url }}" title="{{ post.title }}"><img width="285" height="162" src="{{ post.image }}" class="attachment-largethumb wp-post-image" alt="{{ post.title }}" /></a>
  </div>
  <header style="margin-top: 2px;">
    <h4 class="largeheader"><a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></h4>
  </header>
</article>