	<div id="tertiary" class="sidebar-container span2" role="complementary" style="margin-left:5px; {% if page.url == '/2016/' %} margin-top:-6px; {% else %} margin-top:4px; {% endif %}">
		<div class="sidebar-inner">
			<div class="widget-area">
				<aside id="text-3" class="widget widget_text">
					<div class="textwidget">
						<div style="background-color: #757575; width: 100%; height: 100%;">
							<a href="{{ site.github.url }}/2016/pdf/ATI-2016_Report_Proof_DIGITAL.pdf" target="_blank"><img class="alignnone size-full wp-image-2238" src="{{ site.github.url }}/2016/img/2016-Index-front-cover.jpg" alt="2016 Index front cover" width="272" height="356" /></a>
						</div>
						<div style="background-color: #757575; width: 100%; height: 100%;"></div>
					</div>
				</aside>
				<aside id="text-2" class="widget widget_text">
					<div class="textwidget">
						<h3 class="widget-title"> <a href="{{ site.github.url }}/2016/pdf/ATI-2016_Report_Proof_DIGITAL.pdf" target="_blank">Download PDF report</a></h3></div>
				</aside>
				<aside id="text-4" class="widget widget_text">
					<div class="textwidget">
						<h3 class="widget-title"> <a href="{{ site.github.url }}/2016/pdf/2016-U.S.-Aid-Transparency-Brief.pdf" target="_blank">Download the U.S. brief</a></h3></div>
				</aside>
				<aside id="twitter-2" class="widget widget_twitter">
					<div>
						<ul>
							<li><span class='entry-content'>Come and work with us! A range of roles available here &gt;&gt;&gt; <a href="https://t.co/nwIo4TVqzu">https://t.co/nwIo4TVqzu</a></span> <span class='entry-meta'><span class='time-meta'><a href="http://twitter.com/aidtransparency/statuses/942704939725443072">10:35:46 AM December 18, 2017</a></span></span>
							</li>
							<li><span class='entry-content'>Donors must ensure that the data revolution is open by design - latest (and last!) blog from <a href="http://twitter.com/TomOrrell86" class="twitter-user">@TomOrrell86</a>, have a r… <a href="https://t.co/QRAyawNqao">https://t.co/QRAyawNqao</a></span> <span class='entry-meta'><span class='time-meta'><a href="http://twitter.com/aidtransparency/statuses/942698470644879361">10:10:04 AM December 18, 2017</a></span></span>
							</li>
						</ul>
					</div>
				</aside>
				<div>
					<h3 class="widget-title"><span class='twitterwidget twitterwidget-title'>Latest Tweet<a href="https://twitter.com/aidtransparency/"></a></span></h3></div>
				<div style="background-color:#757575; padding:0;">
					<div style="background-color: #aaaaaa; width: 100%; height: 20px;padding:10px 0 10px 0;">
						<a href="https://www.facebook.com/publishwhatyoufund1" target="_blank">
							<div style="width:24px; height:24px; margin-left: 10px; float:left; background: url('{{ site.github.url }}/2016/img/social.png') no-repeat;"></div>
						</a>
						<a href="https://twitter.com/aidtransparency" target="_blank">
							<div style="width:24px; height:24px; margin-left: 22px; float:left; background: url('{{ site.github.url }}/2016/img/social.png') no-repeat  -36px;"></div>
						</a>
						<a href="https://vimeo.com/aidtransparency" target="_blank">
							<div style="width:24px; height:24px; margin-left: 22px; float:left; background: url('{{ site.github.url }}/2016/img/social.png') no-repeat  -72px;"></div>
						</a>
						<a href="https://uk.linkedin.com/in/publish-what-you-fund-331b524b" target="_blank">
							<div style="width:24px; height:24px; margin-left: 22px; float:left; background: url('{{ site.github.url }}/2016/img/social.png') no-repeat  -108px;"></div>
						</a>
					</div>
				</div>
				</aside>
			</div>
		</div>
	</div>
