* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 20px;
}

.group {
  width: 100%;
  position: relative;
}

.graph {
  padding: 10px;
  position: relative;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
}

.bar {
  flex: 1 1 auto;
  height: 300px;
  background: #f9f9f9;
  display: inline-flex;
  margin: 2.5px;
  position: relative;
  vertical-align: bottom;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
  flex-wrap: wrap;
  flex-direction: column-reverse;
}

.bar.very-good {
  background: rgba(0, 140, 255, 0.05);
}

.bar.very-good .component,
.bar.very-good .name-label {
  background: #008CFF;
}

.bar.good {
  background: rgba(54, 227, 89, 0.05);
}

.bar.good .component,
.bar.good .name-label {
  background: #36E359;
}

.bar.fair {
  background: rgba(215, 219, 39, 0.05);
}

.bar.fair .component,
.bar.fair .name-label {
  background: #D7DB27;
}

.bar.poor {
  background: rgba(235, 116, 101, 0.05);
}

.bar.poor .component,
.bar.poor .name-label {
  background: #EB7465;
}

.bar.very-poor {
  background: rgba(227, 65, 114, 0.05);
}

.bar.very-poor .component,
.bar.very-poor .name-label {
  background: #E34172;
}

.bar .component {
  background: #da0062;
  transition: all .4s ease-in-out;
  position: relative;
}

.bar.active .component::after {
  content: "Component A";
  position: absolute;
  right: -95px;
  background: white;
  font-family: "Roboto Mono";
  font-size: 13px;
  color: black;
  padding: 2.5px 10px;
  width: 65px;
  z-index: 100;
  opacity: 0;
  box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.2);
  animation: fadeIn 1s forwards;
  animation-delay: .4s;
}

.bar.active .component-0:after {
  content: "Component A";
}

.bar.active .component-1:after {
  content: "Component B";
}

.bar.active .component-2:after {
  content: "Component C";
}

.bar.active .component-3:after {
  content: "Component D";
}

.bar.active .component-4:after {
  content: "Component E";
}

@keyframes fadeIn {
  from {
      opacity: 0
  }
  to {
      opacity: 1
  }
}

.component-0 {
  filter: brightness(1.1);
}

.component-1 {
  filter: brightness(1);
}

.component-2 {
  filter: brightness(0.9);
}

.component-3 {
  filter: brightness(0.8);
}

.component-4 {
  filter: brightness(0.7);
}

.label {
  position: absolute;
  bottom: -13vw;
  transform: rotate(-90deg);
  transform-origin: top left;
  width: 11vw;
  text-align: right;
  left: 0;
  font-family: 'Roboto Mono';
  font-size: 1vw;
}

// .country-label {
//   font-family: 'Karla';
//   padding: 10px;
//   background: #222;
//   color: white;
//   display: inline-block;
//   margin-top: 10px;
//   display: none;
// }

.bar.active {
  z-index: 100;
}

.bar.active .label {
  font-weight: bold;
  left: 1.1vw;
}

#reset {
  position: absolute;
  top: 20px;
  right: 20px;
  border: 1px solid #222;
  letter-spacing: .1em;
  color: #222;
  padding: 5px;
  text-transform: uppercase;
  font-size: 13px;
  border-radius: 0;
}

.categories {
  position: absolute;
  width: 100%;
  padding: 10px;
  left: 0;
  top: -50px;
}

.category {
  font-family: "Roboto Mono";
  font-size: 11px;
  display: inline-block;
  padding: 15px 2.5px 15px 2.5px;
  color: #6d6d6d;
  text-align: center;
  cursor: pointer;
}

.category:first-child {
  color: #008CFF;
  border-color: #008CFF;
}

.category:nth-child(2) {
  color: #36E359;
  border-color: #36E359;
}

.category:nth-child(3) {
  color: #D7DB27;
  border-color: #D7DB27;
}

.category:nth-child(4) {
  color: #EB7465;
  border-color: #EB7465;
}

.category:last-child {
  color: #E34172;
  border-color: #E34172;
}

.name-container {
  position: absolute;
  top: -100px;
  left: 0;
  margin: auto;
  width: 170px;
}

.name-label {
  background: #222;
  font-family: 'Roboto Mono';
  font-size: 14px;
  color: white;
  padding: 5px 10px;
}

.number {
  display: block;
  margin-top: -15px;
  margin-bottom: 7.5px;
  font-family: 'Roboto Mono';
  font-size: 14px;
}
