---
---

// PDF Stylesheet

body {
  background: white;
}

.single-container {
  .single-content {
    display: block;
    margin-top: 0;

    .graph-image {
      margin-top: 0;
    }
    .left-column {
      max-width: 400px;
      float: right;

      .graph-image img {
        padding-left: 10px;
        width: 200px;
      }
    }
    .right-column {
      .agency-name {
        margin-bottom: 10px !important;
      }

      h1 {
        font-size: 20px;
        display: block;
      }

      .summary {
        .custom-content {
          .analysis p {
            font-size: 12px !important;
            margin-top: 0;
          }

          .recommendations {
            font-size: 12px !important;

            .recommendations-content ul {
              margin-top: 0;
            }
          }
        }

        .summary-card {
          padding: 0 15px;

          .top-info {
            margin-bottom: 10px;
          }

          .rank .score {
            font-size: 16px;
          }

          .card-content {
            .side-components {
              margin-bottom: 10px;
              page-break-after: always;
            }
          }
        }
      }

      .overview {
        /*margin-top: 20px;*/
        display: block;
        margin-top: 0;

        .overview-content {
          font-size: 12px !important;

          p {
            margin-top: 0;
          }
        }
      }
    }
  }
}
