.graph-front {
  .group {
    width: 100%;
    position: relative;
  }

  .graph {
    /*border-left: 2px solid black;
    border-bottom: 2px solid black;*/
    padding: 10px;
    position: relative;
    /*height: 60vh;*/
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
       -moz-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }

  .bar {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
       -moz-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    height: 300px;
    background: #f9f9f9;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -moz-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin: 2.5px;
    position: relative;
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    vertical-align: bottom;
    -webkit-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    cursor: pointer;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
       -moz-box-orient: vertical;
       -moz-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    &.very-good {
      @include shades_color($vgood);
    }
    &.good {
      @include shades_color($good);
    }
    &.fair {
      @include shades_color($fair);
    }
    &.poor {
      @include shades_color($poor);
    }
    &.very-poor {
    @include shades_color($vpoor);
    }
    .component {
      -webkit-transition: all .2s ease-in-out;
      -o-transition: all .2s ease-in-out;
      transition: all .2s ease-in-out;
      position: relative;
    }
    .component::after {
      content: "";
      position: absolute;
      left: 0;
      white-space: nowrap;
      opacity: 0;
      pointer-events: none;
      background: white;
      font-family: "Roboto";
      font-size: 13px;
      color: black;
      padding: 2.5px 10px;
      width: auto;
      z-index: 100;
      opacity: 0;
      -webkit-box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.2);
              box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.2);
      -webkit-transition: all .2s ease-in-out;
      -o-transition: all .2s ease-in-out;
      transition: all .2s ease-in-out;
      // animation: fadeIn 1s forwards;
      // animation-delay: .4s;
    }
    .component-1::after {
      content: "Organisational planning and commitments";
    }
    .component-2::after {
      content: "Finance and budgets";
    }
    .component-3::after {
      content: "Project attributes";
    }
    .component-4::after {
      content: "Joining-up development data";
    }
    .component-5::after {
      content: "Performance";
    }
    &.active {
      z-index: 100;
      -webkit-box-flex: 3;
      -webkit-flex-grow: 3;
         -moz-box-flex: 3;
          -ms-flex-positive: 3;
              flex-grow: 3;
      opacity: 1;
      .label {
        font-weight: bold;
        left: 1.1vw;
      }
      .component {
        &:hover {
          &::after {
            left: 100%;
            opacity: 1;
          }
        }
      }
    }
    &.blur {
      opacity: .3;
    }
  }

  @-webkit-keyframes fadeIn {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }


  .label {
    position: absolute;
    bottom: -17vw;
    -webkit-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
            transform: rotate(-90deg);
    -webkit-transform-origin: top left;
        -ms-transform-origin: top left;
            transform-origin: top left;
    width: 15vw;
    text-align: right;
    left: 0;
    font-family: 'Roboto';
    font-size: 12px;
    @media (max-width: $tablet) {
       font-size: 1vw;
     }
  }

  .country-label {
    font-family: 'Karla';
    padding: 10px;
    background: #222;
    color: white;
    display: inline-block;
    margin-top: 10px;
    display: none;
  }

  #reset {
    position: absolute;
    top: 20px;
    right: 20px;
    border: 1px solid #222;
    letter-spacing: .1em;
    color: #222;
    padding: 5px;
    text-transform: uppercase;
    font-size: 13px;
    border-radius: 0;
  }

  .sectors {
    position: absolute;
    width: 100%;
    padding: 10px;
    left: 0;
    top: -50px;
  }

  .sector {
    font-family: "Roboto";
    font-size: 12px;
    font-weight: 900;
    display: inline-block;
    padding: 15px 2.5px 15px 2.5px;
    color: $grey;
    text-align: center;
    cursor: pointer;
  }

  .name-container {
    position: relative;
    width: 100%;
  }

  .name-label {
    background: #222;
    font-family: 'Roboto';
    font-size: 14px;
    color: white;
    padding: 5px 10px;
    position: absolute;
    top: -70px;
    width: auto;
    white-space: nowrap;
    @include rank-color('background');
    &.fair {
      color: #222;
    }
  }

  .number {
    display: block;
    margin-top: -15px;
    margin-bottom: 7.5px;
    font-family: 'Roboto';
    font-size: 14px;
  }
}
