---
layout: 2016/base
---

<section class="span6 first">
  <div class="home-posts">
    <div class="flexslider-container">
      <div class="flexslider">
        <section id="feat_posts" class="clearfix">
          {% assign sliders = site['2016'] | where: "label", "slider" | sort: 'order' %}
          {% for slider in sliders %}
            {{ slider }}
          {% endfor %}
        </section>
      </div>
      <div id="slider_pagination"></div>
    </div>
    {% assign posts = site['2016'] | where: "label", "post" | where: "show_on_homepage", true | sort: 'order' %}
    {% for post in posts %}
      {%- if post.size == "small" -%}
        {%- include 2016/homepage-post-small.html -%}
      {%- else -%}
        {%- include 2016/homepage-post.html -%}
      {%- endif -%}
    {% endfor %}
    <div class="clearfix"></div>
  </div>
</section>

{%- include 2016/right-sidebar.html %}

<script type="text/javascript">
  /*<![CDATA[*/
  (function($) {
    $(function() {
      var currentTallest = 0,
        currentRowStart = 0,
        rowDivs = new Array(),
        $el, topPosition = 0;
      $('.largeheader').each(function() {
        $el = $(this);
        topPosition = $el.position().top;
        if (currentRowStart != topPosition) {
          for (currentDiv = 0; currentDiv < rowDivs.length; currentDiv++) {
            rowDivs[currentDiv].height(currentTallest);
          }
          rowDivs.length = 0;
          currentRowStart = topPosition;
          currentTallest = $el.height();
          rowDivs.push($el);
        } else {
          rowDivs.push($el);
          currentTallest = (currentTallest < $el.height()) ? ($el.height()) : (currentTallest);
        }
        for (currentDiv = 0; currentDiv < rowDivs.length; currentDiv++) {
          rowDivs[currentDiv].height(currentTallest);
        }
      });
      var currentTallestQ = 0,
        currentRowStartQ = 0,
        rowDivsQ = new Array(),
        $elQ, topPositionQ = 0;
      $('.smallheader').each(function() {
        $elQ = $(this);
        topPositionQ = $elQ.position().top;
        if (currentRowStartQ != topPositionQ) {
          for (currentDivQ = 0; currentDivQ < rowDivsQ.length; currentDivQ++) {
            rowDivsQ[currentDivQ].height(currentTallestQ);
          }
          rowDivsQ.length = 0;
          currentRowStartQ = topPositionQ;
          currentTallestQ = $elQ.height();
          rowDivsQ.push($elQ);
        } else {
          rowDivsQ.push($elQ);
          currentTallestQ = (currentTallestQ < $elQ.height()) ? ($elQ.height()) : (currentTallestQ);
        }
        for (currentDivQ = 0; currentDivQ < rowDivsQ.length; currentDivQ++) {
          rowDivsQ[currentDivQ].height(currentTallestQ);
        }
      });
      if ($('.home-posts').height() > $('#branding').height()) {
        $('#branding').css('min-height', ($('.first').height() - 12) + $('.entry-header').outerHeight() + 'px');
      } else {
        $('#branding').css('min-height', ($('.first').height()) + $('.entry-header').outerHeight() + 'px');
      }
      $('.home-posts').css('min-height', $('#branding').height() - ($('.entry-header').outerHeight() + 10) + 'px');
      $('.widget-area').attr('style', 'margin-top: 10px !important');
      $('#colophon').attr('style', 'margin-top: 0px !important');
    });
  }(jQuery)); /*]]>*/
</script>
