---
layout: 2016/base
---

<div class="container">
  <button id="reset">reset</button>
  <div class="group">
    <div class="categories" style="display: none;">
      <div class="category" id="very-good" style="width: 46.875px;">
        <span>Very Good</span>
      </div>
      <div class="category" id="good" style="width: 450.938px;">
        <span>Good</span>
      </div>
      <div class="category" id="fair" style="width: 585.625px;">
        <span>Fair</span>
      </div>
      <div class="category" id="poor" style="width: 127.688px;">
        <span>Poor</span>
      </div>
      <div class="category" id="very-poor" style="display: none;">
        <span>Very Poor</span>
      </div>
    </div>
    <div class="graph">
      {% for org_tuple in site.data['2016'].results %}
      {% assign org = org_tuple[1] %}
      <div class="bar
      {% if org.score >= 80 %}
      very-good
      {% elsif org.score >= 60 %}
      good
      {% elsif org.score >= 40 %}
      fair
      {% elsif org.score >= 20 %}
      poor
      {% else %}
      very-poor
      {% endif %}
      " data-country="{{ org.name }}" data-raw="{{ org.score }}" data-rounded="{{ org.score | to_integer }}">
        {% for component in org.by_component %}
        <div class="component component-{{ forloop.index0 }}" data-label="{{ component[0] }}" data-raw="{{ component[1] }}" style="height: {{ component[1] }}%;"></div>
        {% endfor %}
        <span class="label">{{ org.name }}</span>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

<table>
  <tr>
    <th>Rank</th>
    <th>Name</th>
    <th>Score</th>
    {% assign current_indicator = '' %}
    {% for indicator in site.data['2016'].indicators %}
      {% if indicator.indicator_subcategory_name != current_indicator %}
        <th>{{ indicator.indicator_subcategory_name }}</th>
        {% assign current_indicator = indicator.indicator_subcategory_name %}
      {% endif %}
    {% endfor %}
  </tr>
  {% for org_tuple in site.data['2016'].results %}
  {% assign org = org_tuple[1] %}
  <tr>
    <td>{{ forloop.index }}</td>
    <td><a href="{{ site.github.url }}/2016/{{ org.slug }}/">{{ org.name }}</a></td>
    <td>{{ org.score | to_integer }}%</td>
    {% for component in org.by_component %}
    <td>{{ component[1] | to_integer }}%</td>
    {% endfor %}
  </tr>
  {% endfor %}
</table>
