---
layout: 2016/base
levels_deets: {'': {name: 'Commitment to Aid Transparency', weight: 10}, organisation: {name: 'Publication - Organisation Level', weight: 25}, activity: {name: 'Publication - Activity Level', weight: 65}}
---

<section class="span8">
    <article>
        <header class="entry-header indicators-entry-header">
            <h1 class="entry-title">Indicators</h1>
        </header>

        <div class="row indicator">
            <div class="span2 first">
                <h2 class="indicators">Level</h2>
            </div><div class="span2">
                <h2 class="indicators">Subgroup</h2>
            </div><div class="span4">
                <h2 class="indicators">Indicator, Definition &amp; Notes</h2>
            </div>
        </div><div class="entry-content indicator-entry-content" style="padding-top:10px;">

        {% assign level = '---' %}
        {% assign subgroup = '---' %}

        {% for indicator in site.data['2016'].indicators %}
            {% if subgroup != indicator.indicator_subcategory_name %}
                {% unless forloop.first %}
                </div>
                {% endunless %}
            {% endif %}

            {% if level != indicator.indicator_category_name %}
                {% assign level = indicator.indicator_category_name %}

                {% if level %}
                    {% assign level_deets = page.levels_deets[level] %}
                {% else %}
                    {% assign level_deets = page.levels_deets[''] %}
                {% endif %}

                {% unless forloop.first %}
                </div>
                {% endunless %}

            <div class="span2 first nomargin nopad" style="margin-left:-5px;">
                <h6 class="{% unless forloop.first %}greyborder{% endunless %}" style="padding-left:5px !important;">{{ level_deets['name'] }}</h6>
                <h2>{{ level_deets['weight'] }}%</h2>
            </div><div class="span6 {% unless forloop.first %}greyborder{% endunless %} nomargin nopad" style="margin-left:0px !important; margin-right:0px !important; width:594px;">
            {% endif %}
            {% if subgroup != indicator.indicator_subcategory_name %}
                {% assign subgroup = indicator.indicator_subcategory_name %}
                <div class="span2" style="margin-left:0px; padding-left:5px !important;">
                    <h6 style="margin-left:15px;">
                        {% if subgroup %}
                            {{ subgroup | capitalize }}
                        {% else %}
                            {{ indicator.indicator_type | capitalize }}
                        {% endif %}
                    </h6>
                </div><div class="indicator-listing span4" style="margin-left:0px;">
            {% endif %}
                    <h6 style="margin-left:25px;">{{ indicator.order }}. {{ indicator.description }}</h6>
                    <div class="indicator-details">
                        {{ indicator.longdescription | markdownify }}
                        <h4>Weighting</h4>
                        <h2>{{ indicator.weight | times:100 }}%</h2>
                        <span class="indicator-close">Close</span>
                    </div>
        {% endfor %}
                </div>
            </div>
        </div>
    </article>
</section>

{%- include 2016/script.html %}
