---
---

// Global Stylesheet
@import '2018/base';

// Variables
$red: #DC4444;
$light_red: #EB7465;
$dark: #222222;
$grey: #95989A;
$lightGrey: #E8E8E8;

// Bar Colors
$vgood: #14ADC1;
$good: #14C18C;
$fair: #ead726;
$poor: #EB7465;
$vpoor: #97124B;

$pwyf: #62a9c1;

@mixin shades_color($base-color) {
  background: rgba($base-color, .05);
  @for $i from 1 through 5 {
    .component-#{$i} {

      @if $i == 1 {
        background: lighten($base-color, 10%);
      }
      @else if $i == 2 {
        background: lighten($base-color, 5%);
      }
      @else if $i == 3 {
        background: $base-color;
      }
      @else if $i == 4 {
        background: darken($base-color, 5%);
      }
      @else if $i == 5 {
        background: darken($base-color, 10%);
      }


    }
    .name-label {
     background: $base-color;
   }
   &.fair {
     .name-label {
       color: #222;
     }
   }
   .fill {
     background: $base-color;
   }
  }
}

@mixin rank-color($target) {
  $ranks: 'very-good', 'good', 'fair', 'poor', 'very-poor';
  $colors: $vgood, $good, $fair, $poor, $vpoor;

  @for $i from 1 through length($ranks) {
    .#{nth($ranks, $i)} {
      #{$target}: #{nth($colors, $i)};
    }
    &.#{nth($ranks, $i)} {
      #{$target}: #{nth($colors, $i)};
    }
  }
}

@import './2018/graph';
@import './2018/table';


* {
  box-sizing: border-box;
}

body {
  font-family: 'Yantramanav';
  background: #F9F9F9;
  &.fix {
    overflow: hidden;
  }
}

.to-blur {
  transition: all .2s ease-in;
  &.active {
    filter: blur(3px) grayscale(70%);
  }
}

.loading-screen {
  background: #F9F9F9;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 1000000;
  opacity: 1;
}

.button {
  padding: 10px 20px;
  text-transform: uppercase;
  color: white;
  font-weight: 600;
  letter-spacing: 1px;
  display: inline-block;
  text-decoration: none;
  transition: all .2s ease-in;
  &.flex-icon {
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    img {
      width: 15px;
      margin-right: 7.5px;
    }
  }
  &:hover {
    transform: translateY(-1.5px);
  }
  &.download {
    img {
      height: 20px;
      margin-right: 5px;
      vertical-align: middle;
    }
  }
  &.grey {
    background: $lightGrey;
    color: $dark;
    font-size: 12px;
    font-family: 'Roboto';
    font-weight: 300;
    padding: 6.5px 10px;
    &:hover {
      background: darken($lightGrey, 5%);
    }
    cursor: pointer;
  }
}

header {
  padding: 25px 0;
  @media (max-width: $tablet-small) {
     padding: 15px 0;
   }
  .margins-container {
    margin-bottom: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  .logo {
    width: 250px;
    display: inline-block;
    @media (max-width: $tablet-small) {
       width: 150px;
     }
  }
  .menu {
    text-align: right;
    display: inline-flex;
    align-items: center;
    .nav-link {
      color: $pwyf;
      font-weight: bold;
      text-decoration: none;
      margin-right: 10px;
    }
    .index-results {
      background: $red;
      color: white;
      display: inline-flex;
      align-items: center;
      font-size: 14px;
      font-weight: 500;
      text-transform: uppercase;
      letter-spacing: 1px;
      text-decoration: none;
      padding: 5px 10px;
      @media (max-width: $tablet-small) {
         display: none;
       }
      img {
        height: 10px;
        margin-right: 5px;
        vertical-align: middle;
      }
    }

  }
  nav.pull-out-drawer {
    position: fixed;
    background: $pwyf;
    right: -50vw;
    top: 0;
    padding-top: 60px;
    width: 350px;
    padding: 60px 35px;
    z-index: 1000000000;
    height: 100vh;
    transition: right .3s ease-in;
    overflow-y: scroll;
    @media (max-width: $tablet) {
       right: -110vw;
       width: auto;
     }
    &.active {
      right: 0;
    }
    #close-drawer {
      position: absolute;
      top: 10px;
      right: 20px;
      width: 80px;
      height: 40px;
      cursor: pointer;
      display: block;
      .close-drawer-container {
        transform: rotate(45deg);
        display: block;
        position: relative;
        margin-top: -10px;
        margin-right: 20px;
        &::after, &::before {
          content: "";
          width: 20px;
          height: 1.5px;
          position: absolute;
          background: white;
        }
        &::after {
          transform: rotate(90deg);
        }
      }
    }
    .logo-invert {
      width: 200px;
      display: block;
    }
    .title {
      font-weight: 600;
      color: white;
      display: block;
      text-align: left;
      margin-top: 10px;
      border-bottom: 1px solid white;
      padding-bottom: 15px;
    }
    .menu {
      width: 100%;
      ul {
        text-align: left;
        list-style-type: none;
        margin-left: 0;
        padding-left: 0;
        li {
          text-transform: uppercase;
          font-weight: 600;
          letter-spacing: 1px;
          font-size: 18px;
          &.menu-item-has-children {
            margin-top: 20px;
            position: relative;
            .arrow {
              border-style: solid;
            	border-width: 0.10em 0.10em 0 0;
            	display: inline-block;
              position: relative;
            	height: 0.45em;
              color: white;
              height: 8px;
              color: white;
              margin-left: 10px;
              margin-top: -8px;
            	transform: rotate(135deg);
            	vertical-align: middle;
            	width: 0.45em;
            }
            &:first-child {
              margin-top: 0;
            }
            &.active {
              > ul {
                max-height: 300px;
                opacity: 1;
                visibility: visible;
              }
              .arrow {
                transform: rotate(-45deg);
                margin-top: 0;
              }
            }
          }
          ul {
            padding-left: 0;
            visibility: 0;
            opacity: 0;
            max-height: 0;
            margin-top: 10px;
            transition: all .3s ease-in;
            li {
              text-transform: none;
              opacity: .8;
              font-size: 18px;
              font-weight: 500;
              margin: 2.5px 0;
              transition: all .3s ease-in;
              &:hover {
                opacity: 1;
                transform: translateY(-1.5px);
              }
            }
          }
          a {
            text-decoration: none;
            color: white;
            display: inline-block;
          }
        }
      }
    }
  }
}

// Homepage

.main-content {
  text-align: center;
  margin-top: 50px;
  .margins-container {
    overflow: visible;
  }
  @media (max-width: $tablet-small) {
     margin-top: 0;
   }
  h1 {
    font-size: 50px;
    font-weight: 900;
    margin-top: 0;
    margin-bottom: 30px;
    @media (max-width: $tablet-small) {
       font-size: 40px;
     }
  }
  p {
    margin: 0;
    max-width: 600px;
    margin: auto;
  }
  .buttons {
    width: 300px;
    margin: auto;
    @media (max-width: $tablet-small) {
       width: 100%;
     }
    .download {
      img {
        margin-right: 5px;
        display: inline-block;
      }
    }
    .index-download {
      background: $light_red;
      margin-top: 30px;
      width: 100%;
      transition: all .2s ease-in-out;
      &:hover {
        background: $red;
      }
    }
    .us-download, .eu-download {
      color: $grey;
      border: 1px solid $grey;
      margin-top: 10px;
      display: inline-block;
      font-size: 12px;
      width: 145px;
      padding: 5px 10px;
      @media (max-width: $tablet-small) {
         width: calc(50% - 5px);
       }
    }
    .eu-download {
      margin-left: 5px;
    }
  }
  .graph-front {
    padding: 120px 0;
    @media (max-width: $tablet-small) {
       display: none;
     }
  }
  .download-img {
    float: right;
    margin-top: 100px;
    background: white;
    @media (max-width: $tablet-small) {
       display: none;
     }
    &:hover {
      background: darken(white, 5%);
    }
  }
}

// Buttons for table

.table-buttons {
  text-align: left;
  margin-bottom: 30px;
  display: inline-block;
  width: 100%;
  &.sticky {
    position: fixed;
    width: 100%;
    background: white;
    z-index: 100;
    padding: 15px 0;
    top: 0;
    left: 0;
    .scroll-margins-container {
      @extend .margins-container;
      margin-bottom: 0;
    }
    .scroll-headers {
      display: block;
    }
  }
  .float-right {
    float: right;
  }
  .scroll-headers {
    display: none;
  }
}

.compare {
  float: left;
  width: 100%;
  img {

  }
.appear {
  opacity: 0;
  transform: translate(10px);
  transition: all .2s ease-in-out;
  display: inline-block;
  margin-left: 5px;
  vertical-align: top;
  @media (max-width: $tablet-small) {
     margin-left: 0;
     margin-top: 10px;
     display: none;
   }
  &.active {
    opacity: 1;
    transform: translateY(0);
    z-index: 1000;
    position: relative;
    @media (max-width: $tablet-small) {
       display: inline-block;
     }
  }
  .SumoSelect {
    height: 30px;
    vertical-align: top;
    & > .CaptionCont {
      border-radius: 0!important;
      border-color: $dark!important;
      height: 30px;
    }

  }

  #done {
    background: $good;
    font-size: 12px;
    font-family: 'Roboto';
    font-weight: 300;
    padding: 7.5px 15px;
    text-transform: uppercase;
    color: white;
    display: inline-block;
    height: 30px;
    cursor: pointer;
    display: none;
  }
}
}


// Single & Multi-agency

.single-container {
  .label {
    font-size: 12px;
    font-family: 'Roboto';
    text-transform: uppercase;
    letter-spacing: 1px;
    color: $grey;
    display: inline-block;
    margin-bottom: 15px;
  }
  .light {
    font-size: 14px;
    font-family: 'Roboto';
    text-transform: uppercase;
    letter-spacing: 1px;
    color: $grey;
    display: block;
    margin-bottom: 10px;
  }

  .single-content {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 20px;
    margin-top: 60px;
    position: relative;
    @media (max-width: $tablet) {
       display: block;
     }
     @media (max-width: $tablet-small) {
        margin-top: 20px;
      }
    .left-column {
      //width: 35%;
      grid-column: 1 / 6;
      @media (max-width: $tablet) {
         max-width: 400px;
       }
      &.sticky {
        position: fixed;
        top: 30px;
      }
      &.fixed {
        position: absolute;
        bottom: 0;
        left: 0!important;
      }
      .graph-image {

      }
      .buttons {
        margin-top: 10px;
        display: inline-block;
        width: 100%;
        .download-report {
          background: $dark;
          width: calc(50% - 10px);
          font-size: 12px;
          border: 2px solid $dark;
          padding: 10px 5px;
          @media (max-width: $tablet-small) {
             width: 100%;
             text-align: center;
           }
          &.french {
            background: none;
            color: $dark;
            margin-left: 10px;
            @media (max-width: $tablet-small) {
               margin-left: 0;
               margin-top: 5px;
             }
          }
        }
        .download-brief {
          background:$dark;
          width: 100%;
          text-align: center;
        }
      }
    }
    .right-column {
      //width: 55%;
      grid-column: 7 / 13;
      h1 {
        font-size: 36px;
        display: block;
        margin: 0;
        font-weight: 900;
        line-height: 1.1;
      }
      .comparison-group {
        font-family: 'Roboto';
        font-size: 14px;
        text-transform: uppercase;
        display: block;
        margin-top: 10px;
        a {
          color: $dark;
          text-transform: uppercase;
          letter-spacing: 1px;
        }
      }
      .mobile-fill {
        @media (max-width: $tablet) {
           margin-top: 30px;
         }
      }
      .single-groupm .multi-group {
        display: inline-block;
        width: 100%;
        margin-bottom: 20px;
      }
      .overview {
        margin-top: 40px;
        display: inline-block;
        .overview-content {
          font-size: 16px;
        }
      }
      .summary {
        margin-top: 30px;
        @media (max-width: $tablet) {
           margin-top: 20px;
         }
        .summary-card {
          background: white;
          padding: 40px;
          @media (max-width: $tablet-small) {
             padding: 15px;
           }
          .top-info {
            overflow: hidden;
            margin-bottom: 30px;
            .score {
              float: left;
              span {
                display: inline-block;
              }
            }
            .position {
              float: right;
              span {
                display: inline-block;
              }
            }
            .target {
              margin-left: 2.5px;
            }
          }
          .rank {
            @include rank-color('background');
            display: inline-block;
            margin: 10px 0;
            width: 100%;
            .score {
              color: white;
              font-size: 30px;
              font-weight: 900;
              padding: 5px 15px;
              display: inline-flex;
              align-items: center;
              text-transform: capitalize;
              &.same {
                &::after {
                  content: "";
                  position: relative;
                  display: inline-block;
                  height: 6px;
                  background: white;
                  width: 16px;
                  margin-left: 15px;
                }
              }
              &.increase, &.decrease {
                &::after {
                  border-style: solid;
                	border-width: 0.25em 0.25em 0 0;
                	content: '';
                	display: inline-block;
                	height: 0.45em;
                	margin-left: 10px;
                	position: relative;
                	top: 0.15em;
                	transform: rotate(-45deg) scale(.6);
                	vertical-align: top;
                	width: 0.45em;
                }
              }
              &.decrease {
                &::after {
                  transform: rotate(135deg) scale(.6);
                  top: 0;
                }
              }
              @media (max-width: $tablet-small) {
                 font-size: 22px;
               }
              &.fair {
                color: $dark;
              }
            }
          }
          .history {
            .year {
              display: inline-block;
              margin: 0 5px;
              @include rank-color('color');
              @media (max-width: $tablet-small) {
                 font-size: 15px;
               }
              &:first-child {
                margin-left: 0;
              }
              &:last-child {
                margin-right: 0;
              }
            }
            .disclaimer {
              color: $grey;
              font-size: 14px;
              display: inline-block;
              margin-top: 5px;
              a {
                color: $pwyf;
              }
            }
          }
          .card-content {
            .side-components {
              width: 30%;
              display: inline-block;
              @media (max-width: $tablet-small) {
                 display: flex;
                 flex-wrap: wrap;
                 width: 100%;
                 justify-content: space-between;
               }
              .component {
                padding: 15px 0;
                border-bottom: 1px solid $lightGrey;
                font-size: 14px;
                &:first-child {
                  padding-top: 0;
                }
                .light {
                  margin-bottom: 2.5px;
                  text-transform: none;
                  font-weight: 300;
                  font-size: 12px;
                }
                @media (max-width: $tablet-small) {
                  flex: 1 1 40%;
                  margin: 0 10px;
                  padding: 15px 0;
                  &:first-child {
                    padding-top: 15px;
                  }
                 }
              }
            }
            .custom-content {
              width: calc(70% - 35px);
              margin-left: 30px;
              display: inline-block;
              vertical-align:top;
              @media (max-width: $tablet-small) {
                 margin-left: 0;
                 width: 100%;
                 margin-top: 20px;
               }
              .analysis, .recommendations {
                display: inline-block;
                width: 100%;
                p {
                  font-size: 16px;
                  margin: 10px 0;
                  &:first-of-type {
                    margin-top: 0;
                  }
                }
              }
              .recommendations {
                margin-top: 15px;
              }
            }
          }
        }
      }
      // Multi Agency
      .multi-group {
        .summary-card {
          background: none;
          padding: 0;
          .multi-rankings {
          }
          .ranking-group {
            display: inline-block;
            width: 100%;
            margin: 15px 0;
            .grouped-agency {
              display: block;
              margin: 10px 0;
              a {
                color: $dark;
                font-weight: 600;
              }
            }
          }
        }
      }
    }
  }
  .deep-dive {
    margin-top: 60px;
    @media (max-width: $tablet-small) {
       margin-top: 20px;
     }
    .tabbed-section {
      .tabs {
        width: 100%;
        display: inline-block;
        @media (max-width: $tablet-small) {
           display: none;
         }
        .tab {
          display: inline-block;
          cursor: pointer;
          margin: 0 2.5px;
          background: $lightGrey;
          color: $dark;
          position: relative;
          font-family: 'Roboto';
          font-size: 12px;
          padding: 25px 15px;
          &::after {
            content: "";
            height: 5px;
            width: calc(100% + 10px);
            position: absolute;
            bottom: 0;
            left: 0;
            background: linear-gradient(to top, rgba($dark, 0.05), rgba($dark, 0));
          }
          &:first-child {
            margin-left: 0;
          }
          &:last-child {
            &::after {
              width: 100%;
            }
          }
          &.active {
            background: white;
          }
          &.active::after {
            display: none;
          }
        }
      }
      .tabbed-content {
        background: white;
        padding: 60px 35px;
        @media (max-width: $tablet-small) {
           padding: 0;
           background: none;
         }
        .tab-content {
          display: none;
          flex-wrap: wrap;
          justify-content: space-between;
          @media (max-width: $tablet-small) {
             display: block;
             background: white;
             padding: 30px;
             margin-top: 15px;
             &:first-child {
               margin-top: 0;
             }
           }
           @media (max-width: $mobile) {
              padding: 15px;
            }
          &.active {
            display: flex;
            .bar-num {
              max-width: 600px!important;
            }
          }
          &:first-child {
            display: flex;
          }
        }
        .component-info {
          width: 40%;
          float: left;
          @media (max-width: $tablet-small) {
             width: 100%;
             display: block;
           }
           h2 {
             margin-bottom: 5px;
             margin-top: 0;
           }
          h3 {
            margin-top: 0;
          }
          .score {
            .lighter {
              color: $grey;
            }
          }
          p {
            &:first-of-type {
              margin-top: 0;
            }
          }
          .more-info {

          }
        }
        .indicator-scores {
          width: 50%;
          @media (max-width: $tablet-small) {
             width: 100%;
             display: block;
           }
          .indicator-score {
            display: inline-block;
            margin: 10px 0;
            width: 100%;
          }
          .top-group {
            display: flex;
            flex-wrap: wrap;
            position: relative;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 2.5px;
            font-size: 14px;
            .indicator-row {
              width: 100%;
              margin-bottom: 5px;
              &:first-child {
                margin-bottom: 2.5px;
              }
              .group, .status, .format {
                width: 49%;
                display: inline-block;
              }
              .group, .format {
                text-align: right;
                vertical-align: top;
              }
              .status, .format {
                color: $grey;
                span {
                  color: $dark;
                  a {
                    color: $pwyf;
                    font-weight: 600;
                    text-decoration: none;
                  }
                }
              }
            }
            .indicator-name {
              font-size: 14px;
              width: 49%;
              display: inline-block;
            }
            .indicator-num {
            }
            .modal-trigger {
              background: $lightGrey;
              color: $dark;
              border-radius: 100em;
              margin-left: 5px;
              height: 18px;
              font-size: 14px;
              display: inline-block;
              width: 18px;
              text-align: center;
              cursor: pointer;
            }
            .indicator-modal-content {
              display: none;
            }
          }
          .bar {
            width: 100%;
            height: 30px;
            background: rgba($grey, 0.04);
            position: relative;
            .bar-num {
              width: 12.5%;
              height: 100%;
              background: $pwyf;
              position: absolute;
              top: 0;
              left: 0;
              transition: all 1.6s cubic-bezier(0.785, 0.135, 0.15, 0.86);
              max-width: 0;
              @media (max-width: $tablet-small) {
                 max-width: 600px;
               }
            }
          }
        }
      }
    }
  }
}

// Back Results

.back-to-results {
  display: inline-block;
  text-decoration: none;
  color: $dark;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1px;
  font-size: 14px;
  img {
    height: 8px;
  }
}

// Component Modal

.modal-fill {
  position: fixed;
  top: 50%;
  transform: translateY(-50%) scale(0);
  background: white;
  z-index: 1000;
  padding: 40px;
  left: 0;
  right: 0;
  margin: auto;
  width: 700px;
  box-shadow: 3px 3px 60px 40px rgba(0, 0,0, .05);
  &.active {
    transform: translateY(-50%) scale(1);
  }
  .close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    display: block;
    .close-drawer-container {
      transform: rotate(45deg);
      display: block;
      position: relative;
      margin-top: 30px;
      margin-right: -10px;
      &::after, &::before {
        content: "";
        width: 20px;
        height: 1.5px;
        position: absolute;
        background: $dark;
      }
      &::after {
        transform: rotate(90deg);
      }
    }
  }
}

// Social Share

#social {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  left: 5px;
  .share {
    text-transform: uppercase;
    color: $dark;
    font-size: 12px;
  }
  @media (max-width: $tablet) {
    bottom: 0;
     transform: none;
     left: 0;
     top: auto;
     width: 100%;
     background: white;
     z-index: 1000000000;
     text-align: center;
     padding: 10px 0;
     display: flex;
     align-items: center;
     justify-content: center;
     box-shadow: 0 -1px 4px 2px rgba($dark, .05);
   }
  a {
    width: 35px;
    height: 35px;
    display: block;
    margin: 6px 0;
    transition: width .3s ease-in;
    @media (max-width: $tablet) {
       display: inline-block;
       margin: 0 10px;
     }
    &:hover {

    }
    img {
      width: 100%;
    }
  }
}

// Mobile Menu

@mixin bars($width, $height, $adjust) {
    width: 17px;
    height: 1.5px;
    top: $adjust;
    background: $dark;
    position: absolute;
    transition: all .2s ease-in-out;
  }

#mobile-menu {
  padding: 2px 6px;
  border: 1px solid $dark;
  position: relative;
  height: 28px;
  margin-left: 2.5px;
  background: none;
  vertical-align: top;
  cursor: pointer;
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  z-index: 1000;
  @media (max-width: $tablet-small) {
    position: absolute;
     top: 15px;
     right: 15px;
   }
  span#menu-text {
    display: inline-block;
    color: $dark;
  }
  .hamburger {
    display: inline-block;
    margin-right: 5px;
    height: 17px;
    width: 17px;
    transition: all .2s ease-in-out;
    .hamburger-bar {
      @include bars(17px, 2px, 12px);
    }
    &::before {
      display: block;
      content: "";
      @include bars(17px, 2px, 7px);
    }
    &::after {
      display: block;
      content: "";
      @include bars(17px, 2px, 17px);
    }
  }
  &.active {
    .hamburger {
      transform: rotate(45deg);
      &::before {
        transform: rotate(90deg);
        top: 8px;
      }
      &::after {
        top: 8px;
      }
    }
    .hamburger-bar {
      background: transparent;
    }
  }
}

// Footer {
footer {
  background: $lightGrey;
  padding: 30px 0;
  margin-top: 80px;
  @media (max-width: $tablet-small) {
     padding: 30px 0;
     margin-bottom: 50px;
   }
  .margins-container {
    margin-bottom: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .logo {
    width: 200px;
    a {
      color: $dark;
      text-decoration: none;
    }
  }
  .terms {
    color: $dark;
    .social {
      a {
        display: inline-block;
        margin: 0 2.5px;
      }
      .facebook {
        width: 10px;
      }
      .twitter {
        width: 20px;
      }
    }
    p {
      margin: 1px 0;
    }
  }
}

//404

.not-found {
  min-height: 50vh;
  .what-next {
    background: white;
    margin-top: 60px;
    display: inline-block;
    padding: 40px;
    max-width: 600px;
    text-align: left;
    position: relative;
    margin: auto;
    .what-next-text {
      color: $pwyf;
      font-weight: 900;
      margin-top: 0;
      font-size: 30px;
    }
    a {
      color: $pwyf;
      font-weight: 900;
    }
    p {
      font-size: 20px;
      margin: 15px 0;
      display: inline-block;
      width: 100%;
    }
  }
}

// Multiple Pages

.comparison-pages {
  display: flex;
  flex-wrap: wrap;
  margin: 40px 0;
  a {
    background: white;
    padding: 30px;
    flex: 1 1 calc(25% - 30px);
    margin: 15px;
    min-height: 230px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: $dark;
    text-decoration: none;
    transition: all .2s ease-in;
    &:nth-child(1), &:nth-child(5) {
      margin-left: 0;
    }
    &:nth-child(4), &:nth-child(8) {
      margin-right: 0;
    }
    &:hover {
      background: darken(white, 5%);
      transform: translateY(-2.5px);
    }
  }
}

// Plain Page

.basic-template {
  max-width: 800px;
  margin: 30px auto;
  .plain-content {
    font-size: 18px;
    p {
      line-height: 1.5;
    }
  }
}

.bar:nth-child(n+30) .component:after {
  left: auto!important;
  right: 0!important;
}
