---
layout: 2018/base
---

{% assign results = site.data['2018'].results[page.slug] %}
{% assign sections = page.content | split: '---' %}

<div class="margins-container single-container">
    <a href="{{ "2018/" | absolute_url }}" class="back-to-results">
      <img src="{{ "2018/static/assets/left-arrow.svg" | absolute_url }}?ver={{ site.github.build_revision }}" alt="Back to results">
      <span>Back to results</span>
    </a>

    <div class="single-content">
        <div class="left-column">
            <div class="graph-buttons-container">
                <div class="graph-image">
                  <img src="/2018/static/assets/graphs/single/{{ page.slug }}.png" alt="">
                </div>

                <div class="buttons">
                    <a class="download-report button flex-icon" href="/2018/static/pdfs/{{ page.slug }}.pdf"><img src="{{ "2018/static/assets/down-arrow.svg" | absolute_url }}?ver={{ site.github.build_revision }}" alt="Download Donor Profile">
                    <span>Download Donor Profile</span></a>

                    {% for lang in page.languages %}
                    <a class="download-report {{ lang }} button flex-icon" href="/2018/static/pdfs/{{ page.slug }}_{{ lang }}.pdf"><img alt="{{ site.data['2018'].translations['Download Donor Profile'][lang] }}" src=
                    "{{ "2018/static/assets/down-arrow-black.svg" | absolute_url }}?ver={{ site.github.build_revision }}"> <span>{{ site.data['2018'].translations['Download Donor Profile'][lang] }}</span></a>
                    {% endfor %}
                </div>
            </div>
        </div>


        <div class="right-column">
            <h1 class="agency-name">{{ page.title }}</h1>

            {% assign multi_agencies = site.pages | where: "layout", "2018/multiple" | sort: 'order' %}

            {% for multi_agency in multi_agencies %}
                {% if multi_agency.agencies contains page.slug %}
                    <span class="comparison-group">MULTIPLE AGENCY GROUP : <a href="{{ multi_agency.url }}">{{ multi_agency.title }}</a></span>
                {% endif %}
            {% endfor %}

            <div class="mobile-fill">
            </div>


            <div class="overview single-group">
                <span class="label">
                    {%- if page.language == 'FR' -%}
                    Description
                    {%- elsif page.language == 'DE' -%}
                    Beschreibung
                    {%- else -%}
                    Overview
                    {%- endif -%}
                </span>

                <div class="overview-content">
                    {{ sections[0] | markdownify }}
                </div>
            </div>


            <div class="summary single-group">
                <div class="summary-card">
                    <div class="top-info">
                        <div class="score">
                            <span class="light">Score:</span> <span class="target">{{ results.score | times:10 | floor | divided_by:10.0 }}</span>
                        </div>


                        <div class="position">
                            <span class="light">Position:</span> <span class="target">{{ results.rank }}</span> / {{ site.data['2018'].results | size }}
                        </div>


                        <div class="rank">
                            <span class="score
                            {% if results.history %}
                                {% if results.performance_group != results.history[0].performance_group %}
                                    {% if results.score > results.history[0].score %}
                                    increase
                                    {% else %}
                                    decrease
                                    {% endif %}
                                {% else %}
                                same
                                {% endif %}
                            {% else %}
                            same
                            {% endif %}
                            {{ results.performance_group | downcase | replace:" ","-" }}">{{ results.performance_group }}</span>
                        </div>

                        {% if results.history %}
                        <div class="history">
                            {% for historical_result in results.history %}
                            <div class="year">
                                {{ historical_result.year }}: <span class="{{ historical_result.performance_group | downcase | replace:" ","-" }}">{{ historical_result.performance_group }}</span>
                            </div>
                            {% endfor %}

                            <span class="disclaimer">Due to a <a href="http://www.publishwhatyoufund.org/the-index/methodology/">methodology change</a> after 2016, rankings are not directly comparable with 2018</span>
                        </div>
                        {% endif %}
                    </div>


                    <div class="card-content">
                        <div class="side-components">
                            {% for component in results.components %}
                            <div class="component component-{{ forloop.index }}">
                                <span class="light">{{ component[0] }}</span> <span class="score">{{ component[1].weighted_score | times:10 | floor | divided_by:10.0 }} <span class="lighter">/ {{ component[1].out_of | round }}</span></span>
                            </div>
                            {% endfor %}
                        </div>

                        <div class="custom-content">
                            <div class="analysis">
                                <span class="label">
                                    {%- if page.language == 'FR' -%}
                                    Analyse
                                    {%- elsif page.language == 'DE' -%}
                                    Analyse
                                    {%- else -%}
                                    Analysis
                                    {%- endif -%}
                                </span>

                                <div class="analysis-content">
                                  {{ sections[1] | markdownify }}
                                </div>
                            </div>


                            <div class="recommendations">
                                <span class="label">
                                    {%- if page.language == 'FR' -%}
                                    Recommandations
                                    {%- elsif page.language == 'DE' -%}
                                    Empfehlungen
                                    {%- else -%}
                                    Recommendations
                                    {%- endif -%}
                                </span>

                                <div class="recommendations-content">
                                    {{ sections[2] | markdownify }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="deep-dive">
        <span class="label">Deep Dive</span>

        <div class="tabbed-section">
            <div class="tabs">
                {% for component in results.components %}
                <div class="tab tab-{{ forloop.index }}{% if forloop.index == 1 %} active{% endif %}" id="target-{{ component[0] | split:' ' | first | downcase }}">
                    {{ component[0] }}
                </div>
                {% endfor %}
            </div>


            <div class="tabbed-content">
                {% for component in results.components %}
                <div class="tab-content component-{{ forloop.index }}{% if forloop.index == 1 %} active{% endif %}" id="{{ component[0] | split:' ' | first | downcase }}">
                    <div class="component-info">
                        <h2 class="component-name">{{ component[0] }}</h2>

                        <h3>Score: <span class="score">{{ component[1].weighted_score | times:10 | floor | divided_by:10.0 }} <span class="lighter">/ {{ component[1].out_of | round }}</span></span></h3>
                        <span class="label">About Component</span>

                        {% assign component_slug = component[0] | downcase | replace: " ","-" %}
                        {% assign component_path = "2018/components/" | append: component_slug | append: ".md" %}
                        {% capture component_description %}{% include {{ component_path }} %}{% endcapture %}
                        {{ component_description | markdownify }}
                    </div>

                    <div class="indicator-scores">
                        {% for indicator in component[1].indicators %}
                        <div class="indicator-score indicator-score-{{ forloop.index0 }}">
                            <div class="top-group">
                                <span class="indicator-name">{{ indicator[0] }}</span>

                                <div class="group">
                                    <span class="indicator-num">Score: {{ indicator[1].score | times:indicator[1].weight | times:100 | floor | divided_by:100.0 }}</span> <span class="modal-trigger" data-indicator="{{ indicator[0] }}">?</span>

                                    <div class="indicator-modal-content">
                                        {%- for i in site.data['2018'].indicators -%}
                                            {%- if i.description == indicator[0] -%}
                                                {{ i.longdescription | markdownify }}
                                            {%- endif -%}
                                        {%- endfor -%}
                                    </div>
                                </div>
                                <div class="indicator-row">
                                    <div class="status">
                                        {% if indicator[1].status != '' %}
                                        Publication status: <span>{{ indicator[1].status }}</span>
                                        {% endif %}
                                    </div>
                                    <div class="format">
                                        {% if indicator[1].format != '' %}
                                        Format:
                                            <span>{{ indicator[1].format }}</span>
                                            {% for source in indicator[1].sources %}
                                            <span><a target="_blank" href="{{ source }}">[{{ forloop.index }}]</a></span>
                                            {% if forloop.index >= 2 %}
                                                {% break %}
                                            {% endif %}
                                            {% endfor %}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>


                            <div class="bar">
                                <span class="bar-num" style="width: {{ indicator[1].score }}%;"></span>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
