.results-table {
  margin-top: 200px;
  @media (max-width: $tablet-small) {
     margin-top: 50px;
     overflow-x: scroll;
   }
  table {
    width: 100%;
    table-layout: fixed;
    tr {
      width: 100%;
      text-align: left;
      &.headers {
        &.sticky {
          position: fixed;
          top: 0;
          background: #f9f9f9;
          border-bottom: 1px solid $grey;
          padding: 2.5px 0%;
          z-index: 100;
          left: 0;
          max-width: 1100px;
          right: 0;
          margin: auto;
          width: 100%;
          box-shadow: 0 1.5px 0 0 rgba(0,0,0,0.05);
        }
      }

      .cell-performance, .cell-5 {
        @media (max-width: $tablet-small) {
           display: none;
         }
      }
      &.compare-hidden {
        display: none;
      }
      &.shown {
        display: table-row;
      }
      td {
        a {
          color: #222;
          text-decoration: none;
          transition: all .2s ease-out;
          &:hover {
            text-decoration: underline;
          }
        }
        &:first-child {
            display: none;
        }
        &:last-child {
          padding: 5px 10px;
          padding-right: 0;
          text-align: center;
          color: white;
          span {
            padding: 5px;
            font-size: 12px;
            width: 100%;
            text-transform: capitalize;
            display: block;
            font-weight: 600;
          }
        }
      }
      &.very-good {
        td {
          &:last-child {
            span {
              background: $vgood;
            }
          }
        }
      }
      &.good {
        td {
          &:last-child {
            span {
              background: $good;
            }
          }
        }
      }
      &.fair {
        td {
          &:last-child {
            span {
              background: $fair;
              color: #222;
            }
          }
        }
      }
      &.poor {
        td {
          &:last-child {
            span {
              background: $poor;
            }
          }
        }
      }
      &.very-poor {
        td {
          &:last-child {
            span {
              background: $vpoor;
            }
          }
        }
      }
      th {
        font-weight: 300;
        font-size: 13px;
        position: relative;
        cursor: pointer;
        color: #AAAAAA;
        &::before {
          content: url(../assets/sort-arrows.svg);
          width: 6px;
          height: 6px;
          margin-right: 5.5px;
          display: inline-block;
          position: absolute;
          left: -1px;
        }
        &:first-child {
            display: none;
        }
      }
      td {
        text-align: left;
        height: 52px;
        border-bottom: 1px solid #fbfbfb;
      }
      th, td {
        text-align: left;
        padding: 5px 25px 5px 10px;
      }
    }
  }
    .hori-bar {
      width: 100px;
      display: block;
      height: 25px;
      position: relative;
      &:hover {
        .raw-score {
          display: block;
        }
      }
      .raw-score {
        background: white;
        padding: 2.5px;
        font-size: 14px;
        position: absolute;
        top: -25px;
        left: 0;
        width: 70px;
        text-align: center;
        color: $grey;
        border: 1px solid $grey;
        display: none;
      }
      &.very-good {
        @include shades_color($vgood);
      }
      &.good {
        @include shades_color($good);
      }
      &.fair {
      @include shades_color($fair);
      }
      &.poor {
      @include shades_color($poor);
      }
      &.very-poor {
        @include shades_color($vpoor);
      }
      .fill {
        height: 100%;
      }
    }
    &.compare-active {
      td {
        &:first-child {
            display: table-cell;
        }
      }
      th {
        &:first-child {
            display: table-cell;
        }
      }
    }
}
