<!DOCTYPE html>

<html>
<head>
	<meta charset="utf-8">
	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name="viewport">

	<title>The 2018 Aid Transparency Index</title>
	<meta content="" property="og:url">
	<meta content="website" property="og:type">
	<meta content="{% if page.title %}{{ page.title }} | {% endif %}The 2018 Aid Transparency Index" property="og:title">
	<meta content="Publish What You Fund - The 2018 Aid Transparency Index" property="og:description">
	<meta content="{{ "static/assets/results.png" | absolute_url }}?ver={{ site.github.build_revision }}" property="og:image">
	<link rel="icon" type="image/png" href="{{ "static/assets/favicon.ico" | absolute_url }}?ver={{ site.github.build_revision }}">
	<link href="https://fonts.googleapis.com/css?family=Roboto|Yantramanav:400,500,700,900" rel="stylesheet">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/jquery.sumoselect/3.0.2/sumoselect.min.css" rel="stylesheet">
	<link rel="stylesheet" href="{{ "static/css/global.css" | absolute_url }}?ver={{ site.github.build_revision }}">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	{% if page.extra_css %}
	{% for extra_css in page.extra_css %}
	<link rel="stylesheet" href="{{ extra_css | absolute_url }}?ver={{ site.github.build_revision }}">
	{% endfor %}
	{% endif %}

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.sumoselect/3.0.2/jquery.sumoselect.min.js"></script>
	<script src="{{ "static/js/global.js" | absolute_url }}?ver={{ site.github.build_revision }}"></script>
	<script src="{{ "static/js/modernizr-custom.js" | absolute_url }}?ver={{ site.github.build_revision }}"></script>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-18679634-1">
	</script>
	<script>
	window.dataLayer = window.dataLayer || [];
	function gtag(){dataLayer.push(arguments);}
	gtag('js', new Date());

	gtag('config', 'UA-18679634-1');
	</script>
	{% if page.extra_js %}
	{% for extra_js in page.extra_js %}
    <script src="{{ extra_js | absolute_url }}?ver={{ site.github.build_revision }}"></script>
	{% endfor %}
	{% endif %}
</head>

<body>
	<div id="fb-root"></div>
	<script>(function(d, s, id) {
		var js, fjs = d.getElementsByTagName(s)[0];
		if (d.getElementById(id)) return;
		js = d.createElement(s); js.id = id;
		js.src = 'https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v3.0&appId=405308629935609&autoLogAppEvents=1';
		fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));</script>

	<div class="loading-screen"></div>

	<header>
		<div class="margins-container">
			<div class="logo"><img alt="Publish What You Fund Logo" src="{{ "static/assets/pwyf-strap.svg" | absolute_url }}?ver={{ site.github.build_revision }}">
			</div>


			<div class="menu">
				<a class="multiple-page nav-link" href="{{ 'multiple/' | absolute_url }}">Multiple Agencies</a>
				<!-- <a class="acknowledgements" href="/acknowledgements">Acknowledgements</a> -->


				<div id="mobile-menu">
					<div class="hamburger">
						<div class="hamburger-bar">
						</div>
					</div>
					<span id="menu-text">Menu</span>
				</div>


				<nav class="pull-out-drawer">
					<span id="close-drawer">
						<div class="close-drawer-container">

						</div>
					</span>
					<img alt="Publish What You Fund logo" class="logo-invert" src="{{ "static/assets/logo-invert.svg" | absolute_url }}?ver={{ site.github.build_revision }}"> <span class=
					"title">Publish What You Fund Main Menu</span>

					<div class="menu">
						<ul class="nav" id="top-menu">
							<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-137" id="menu-item-137">
								<a href="http://www.publishwhatyoufund.org/why-it-matters/">Why it matters<span class="arrow"></span></a>

								<ul class="sub-menu">
									<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-9714" id="menu-item-9714">
										<a href="http://www.publishwhatyoufund.org/why-transparency-matters/">Why transparency matters</a>
									</li>


									<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-139" id="menu-item-139">
										<a href="http://www.publishwhatyoufund.org/why-it-matters/the-story-of-aid-transparency/">The Story of Aid Transparency</a>
									</li>


									<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-140" id="menu-item-140">
										<a href="http://www.publishwhatyoufund.org/why-it-matters/what-you-can-do/">What you can do</a>
									</li>


									<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-138" id="menu-item-138">
										<a href="http://www.publishwhatyoufund.org/why-it-matters/faqs/">FAQs</a>
									</li>
								</ul>
							</li>


							<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-133" id="menu-item-133">
								<a href="http://www.publishwhatyoufund.org/the-index/">The Index<span class="arrow"></span></a>

								<ul class="sub-menu">
									<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-134" id="menu-item-134">
										<a href="http://www.publishwhatyoufund.org/the-index/comparison-chart/">Comparison Chart</a>
									</li>


									<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-8587" id="menu-item-8587">
										<a href="http://www.publishwhatyoufund.org/the-index/methodology/">Methodology</a>
									</li>


									<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-135" id="menu-item-135">
										<a href="http://www.publishwhatyoufund.org/the-index/index-archive/">Index Archive</a>
									</li>


									<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-136" id="menu-item-136">
										<a href="http://www.publishwhatyoufund.org/the-index/tools/">Tools</a>
									</li>
								</ul>
							</li>


							<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-116" id="menu-item-116">
								<a href="http://www.publishwhatyoufund.org/donors/">Aid Donors<span class="arrow"></span></a>

								<ul class="sub-menu">
									<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-117" id="menu-item-117">
										<a href="http://www.publishwhatyoufund.org/donors/eu/">European Union institutions</a>
									</li>


									<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-118" id="menu-item-118">
										<a href="http://www.publishwhatyoufund.org/donors/france/">France</a>
									</li>


									<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-119" id="menu-item-119">
										<a href="http://www.publishwhatyoufund.org/donors/germany/">Germany</a>
									</li>


									<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-120" id="menu-item-120">
										<a href="http://www.publishwhatyoufund.org/donors/uk/">United Kingdom</a>
									</li>


									<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-121" id="menu-item-121">
										<a href="http://www.publishwhatyoufund.org/donors/us/">United States of America</a>
									</li>
								</ul>
							</li>


							<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-129" id="menu-item-129">
								<a href="http://www.publishwhatyoufund.org/projects/">Our Work<span class="arrow"></span></a>

								<ul class="sub-menu">
									<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-10583" id="menu-item-10583">
										<a href="http://www.publishwhatyoufund.org/projects/us-foreign-assistance/">US Foreign Assistance</a>
									</li>


									<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-10804" id="menu-item-10804">
										<a href="http://www.publishwhatyoufund.org/projects/data-use/">Data Use</a>
									</li>


									<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-131" id="menu-item-131">
										<a href="http://www.publishwhatyoufund.org/projects/joined-up-data-standards/">Joined-up Data Standards</a>
									</li>


									<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-132" id="menu-item-132">
										<a href="http://www.publishwhatyoufund.org/projects/open-agriculture/">Open Ag Funding</a>
									</li>
								</ul>
							</li>


							<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-124" id="menu-item-124">
								<a href="http://www.publishwhatyoufund.org/news/">News<span class="arrow"></span></a>

								<ul class="sub-menu">
									<li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-8777" id="menu-item-8777">
										<a href="http://www.publishwhatyoufund.org/category/news/">News</a>
									</li>


									<li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-8776" id="menu-item-8776">
										<a href="http://www.publishwhatyoufund.org/category/events/">Events</a>
									</li>


									<li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-8775" id="menu-item-8775">
										<a href="http://www.publishwhatyoufund.org/category/blog/">Blog</a>
									</li>


									<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-9224" id="menu-item-9224">
										<a href="http://www.publishwhatyoufund.org/reports/">Reports</a>
									</li>
								</ul>
							</li>


							<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-108" id="menu-item-108">
								<a href="http://www.publishwhatyoufund.org/about-us/">About Us<span class="arrow"></span></a>

								<ul class="sub-menu">
									<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-110" id="menu-item-110">
										<a href="http://www.publishwhatyoufund.org/about-us/our-board/">Board</a>
									</li>


									<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-115" id="menu-item-115">
										<a href="http://www.publishwhatyoufund.org/about-us/team/">Team</a>
									</li>


									<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-111" id="menu-item-111">
										<a href="http://www.publishwhatyoufund.org/about-us/friends-of/">Friends of…</a>
									</li>


									<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-114" id="menu-item-114">
										<a href="http://www.publishwhatyoufund.org/about-us/our-transparency/">Our transparency</a>
									</li>


									<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-109" id="menu-item-109">
										<a href="http://www.publishwhatyoufund.org/about-us/annual-reports/">Annual Reports</a>
									</li>


									<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-112" id="menu-item-112">
										<a href="http://www.publishwhatyoufund.org/about-us/funders/">Our Funders</a>
									</li>


									<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-113" id="menu-item-113">
										<a href="http://www.publishwhatyoufund.org/about-us/jobs/">Jobs</a>
									</li>
								</ul>
							</li>
						</ul>
					</div>
				</nav>
			</div>
		</div>
	</header>


	<div class="modal-fill">
		<div class="close-modal">
			<span class="close-drawer-container"></span>
		</div>
		<strong><span class="modal-title"></span> definition</strong>

		<div class="modal-content">
		</div>
	</div>


	<div class="to-blur">
		<div class="" id="social">
			<span class="share">Share</span>
			<a href="" id="facebook" target="_blank">
				<img alt="" src="{{ "static/assets/facebook.svg" | absolute_url }}?ver={{ site.github.build_revision }}">
			</a>
			<a href="http://twitter.com/intent/tweet?text=Results%20are%20out%20for%20the%20%232018Index%20from%20%40aidtransparency%20-%20see%20how%2045%20global%20donors%20perform%20on%20%23transparency&amp;url=" id="twitter"
			target="_blank">
				<img alt="" src="{{ "static/assets/twitter.svg" | absolute_url }}?ver={{ site.github.build_revision }}">
			</a>
			<a href="mailto:?subject=Publish%20What%20You%20Fund%20-%20The%20Index%202018&amp;body=Results%20are%20out%20for%20the%20%232018Index%20from%20%40aidtransparency%20-%20see%20how%2045%20global%20donors%20perform%20on%20%23transparency"
			id="email">
				<img alt="" src="{{ "static/assets/mail.svg" | absolute_url }}?ver={{ site.github.build_revision }}">
			</a>
		</div>

{{ content }}

		<footer>
			<div class="margins-container">
				<div class="logo">
					<img src="{{ "static/assets/PWYF.svg" | absolute_url }}?ver={{ site.github.build_revision }}" alt="Publish What You Fund Logo">
					<a href="{{ "acknowledgements/" | absolute_url }}">Acknowledgements</a>
				</div>

				<div class="footer-nav">
					<ul class="bottom-nav" id="menu-footer">
						<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-8364" id="menu-item-8364">
							<a href="http://www.publishwhatyoufund.org/contact-us/">Contact Us</a>
						</li>
						<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-8363" id="menu-item-8363">
							<a href="http://www.publishwhatyoufund.org/copyright/">Copyright</a>
						</li>
						<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-8362" id="menu-item-8362">
							<a href="http://www.publishwhatyoufund.org/privacy-policy/">Privacy Policy</a>
						</li>
					</ul>
					<ul class="et-social-icons">
						<a class="icon fa fa-rss" href="http://www.publishwhatyoufund.org/feed/" target="_blank"></a>
						<a class="fa fa-twitter" href="https://twitter.com/aidtransparency" target="_blank"></a>
						<a class="fa fa-vimeo" href="https://vimeo.com/aidtransparency" target="_blank"></a>
						<a class="fa fa-linkedin" href="https://www.linkedin.com/company/publish-what-you-fund" target="_blank"></a>
						<a class="fa fa-facebook" href="https://www.facebook.com/publishwhatyoufund1/" target="_blank"></a>
					</ul>
				</div>

				<div id="footer-bottom">
					<p>Publish What You Fund, Southbank House, Black Prince Road, London, SE1 7SJ<br />UK Company Registration Number 07676886 (England and Wales); Registered Charity Number 1158362 (England and Wales)</p>
				</div>
			</div>
		</footer>
	</div>
</body>
</html>
