---
layout: base
---

<button id="reset">reset</button>
<div class="group">
  <div class="categories" style="display: none;">
    <div class="category" id="very-good" style="width: 46.875px;">
      <span>Very Good</span>
    </div>
    <div class="category" id="good" style="width: 450.938px;">
      <span>Good</span>
    </div>
    <div class="category" id="fair" style="width: 585.625px;">
      <span>Fair</span>
    </div>
    <div class="category" id="poor" style="width: 127.688px;">
      <span>Poor</span>
    </div>
    <div class="category" id="very-poor" style="display: none;">
      <span>Very Poor</span>
    </div>
  </div>
  <div class="graph">
    {% for org in site.data.results %}
    <div class="bar
    {% if org[1].score >= 80 %}
    very-good
    {% elsif org[1].score >= 60 %}
    good
    {% elsif org[1].score >= 40 %}
    fair
    {% elsif org[1].score >= 20 %}
    poor
    {% else %}
    very-poor
    {% endif %}
    " data-country="{{ org[1].name }}" data-raw="{{ org[1].score }}" data-rounded="{{ org[1].score | to_integer }}">
      {% for component in org[1].by_component %}
      <div class="component component-{{ forloop.index0 }}" data-label="{{ component[0] }}" data-raw="{{ component[1] }}" style="height: {{ component[1] }}%;"></div>
      {% endfor %}
      <span class="label">{{ org[1].name }}</span>
    </div>
    {% endfor %}
  </div>
</div>
