---
layout: sharing_base
---

<div class="main-content">
	<div class="margins-container">
		<h1>The 2018 Aid Transparency Index</h1>

		{{ content }}

		<div class="buttons">
			<a href="http://www.publishwhatyoufund.org/reports/2018-Aid-Transparency-Index.pdf" class="button download index-download"><img src="{{ "static/assets/down-arrow.svg" | absolute_url }}?ver={{ site.github.build_revision }}" alt="Download Index">Download 2018 Index</a>
			<a href="http://www.publishwhatyoufund.org/reports/2018-US-Brief.pdf" class="button download us-download"><img src="{{ "static/assets/down-arrow-grey.svg" | absolute_url }}?ver={{ site.github.build_revision }}" alt="Download US Brief">US BRIEF</a>
			<a href="http://www.publishwhatyoufund.org/reports/2018-EU-Brief.pdf" class="button download eu-download"><img src="{{ "static/assets/down-arrow-grey.svg" | absolute_url }}?ver={{ site.github.build_revision }}" alt="Download EU Brief">EU BRIEF</a>
		</div>

		<div class="graph-front">
			<div class="group">
				<div class="sectors">
					<div class="sector" id="very-good" style="width: 20%;">
						<span>Very Good</span>
					</div>
					<div class="sector" id="good" style="width: 20%;">
						<span>Good</span>
					</div>
					<div class="sector" id="fair" style="width: 20%;">
						<span>Fair</span>
					</div>
					<div class="sector" id="poor" style="width: 20%;">
						<span>Poor</span>
					</div>
					<div class="sector" id="very-poor" style="width: 20%;">
						<span>Very Poor</span>
					</div>
				</div>

				<div class="name-container">
				</div>

				<div class="graph">
					{% for org_tuple in site.data.results %}
					{% assign org = org_tuple[1] %}
					<div class="bar {{ org.performance_group | downcase | replace:" ","-" }}" data-agency="{{ org.name }}" data-index="{{ org.score | times:10 | floor | divided_by:10.0 }}" data-url="{{ org_tuple[0] | absolute_url }}/">
						{% for component in org.components %}
						{% if component[1].weighted_score > 0 %}
						<div class="component component-{{ forloop.index }}" data-label="{{ component[0] }}" data-raw="{{ component[1].weighted_score }}" style="height: {{ component[1].weighted_score }}%;"></div>
						{% endif %}
						{% endfor %}
						<span class="label">{{ org.name }}</span>
					</div>
					{% endfor %}
				</div>
			</div>
		</div>

		<a href="{{ "static/assets/results.png" | absolute_url }}?ver={{ site.github.build_revision }}" class="button grey download-img flex-icon">
			<img src="{{ "static/assets/image.svg" | absolute_url }}?ver={{ site.github.build_revision }}" alt="Download results as image">
			<span>Download results as image</span>
		</a>

		<div class="results-table">
			<div class="table-buttons">
				<div class="scroll-margins-container">
					<div class="compare">
						<a href="#" id="compare" class="button grey flex-icon">
							<img src="{{ "static/assets/compare.svg" | absolute_url }}?ver={{ site.github.build_revision }}" alt="Compare Agencies">
							<span>Compare Agencies</span></a>

						<div class="appear">
							<div class="SumoSelect sumo_compare" tabindex="0">
								<select class="SumoUnder" id="compareSel" name="compare" tabindex="-1">
									<option value="">
										Select comparison
									</option>

									{% for filtergrouping in site.data.filtergroupings %}
									<option value="{{ filtergrouping[0] }}">
										{{ filtergrouping[0] }}
									</option>
									{% endfor %}

									<option value="custom">
										Custom
									</option>
								</select>

								<div class="optWrapper">
									<ul class="options">
										<li class="opt selected"><label>Select comparison</label>
										</li>
										{% for filtergrouping in site.data.filtergroupings %}
										<li class="opt"><label>{{ filtergrouping[0] }}</label>
										</li>
										{% endfor %}
										<li class="opt"><label>Custom</label>
										</li>
									</ul>
								</div>
							</div>
							<span class="button" id="done">Done</span> <span class="button grey" id="cancel">Cancel</span>
						</div>

						<div class="float-right">
							<a href="{{ "static/assets/results.csv" | absolute_url }}?ver={{ site.github.build_revision }}" class="csv button grey flex-icon">
								<img src="{{ "static/assets/csv.svg" | absolute_url }}?ver={{ site.github.build_revision }}" alt="Download CSV">
								<span>CSV</span></a>
							<a href="{{ "static/assets/results.xlsx" | absolute_url }}?ver={{ site.github.build_revision }}" class="csv button grey flex-icon">
								<img src="{{ "static/assets/excel.svg" | absolute_url }}?ver={{ site.github.build_revision }}" alt="Download XLS">
								<span>XLS</span></a>
							<!-- <span id="sort" class="button grey">Sort By</span> -->
						</div>
					</div>
				</div>
			</div>

			<div class="fixed-container">
			</div>

			<div class="mobile-scroll">
				<table class="" id="results">

					<thead>
						<tr class="headers">
							<th class="cell-0">Compare</th>
							<th class="cell-1 sorttable_numeric">Rank</th>
							<th class="cell-2">Name</th>
							<th class="cell-3 sorttable_numeric">Score</th>
							{% for component in site.data.results.first[1].components %}
							<th class="cell-performance cell-performance-{{ forloop.index }} sorttable_numeric">{{ component[0] }} / {{ component[1].out_of | round }}</th>
							{% endfor %}
							<th class="cell-5 sorttable_numeric">Category</th>
						</tr>
					</thead>
					<tbody id="results-rows">
						{% for org_tuple in site.data.results %}
						  {% assign org = org_tuple[1] %}
						<tr class="result-row row-{{ org_tuple[0] }} {{ org.performance_group | downcase | replace:" ","-" }}">
							<td class="cell-0"><input class="checkbox" name="compare" type="checkbox">
							<td class="cell-1">{{ forloop.index }}</td>
							<td class="cell-2"><a href="{{ org_tuple[0] | absolute_url }}/">{{ org.name }}</a></td>
							<td class="cell-3">
								<div class="hori-bar {{ org.performance_group | downcase | replace:" ","-" }}">
									<span class="raw-score">{{ org.score | times:10 | floor | divided_by:10.0 }} / 100</span>

									<div class="fill" style="width:{{ org.score }}%">
									</div>
								</div>
							</td>
							{% for component in org.components %}
							<td class="cell-performance cell-performance-{{ forloop.index }}">{{ component[1].weighted_score | times:10 | floor | divided_by:10.0 }}</td>
							{% endfor %}
							<td class="cell-5">
								<span class="hide">{{ org.score }}</span>
								<span class="cat">{{ org.performance_group }}</span>
							</td>
						</tr>
						{% endfor %}
					</tbody>

					<tfoot></tfoot>
				</table>
			</div>
		</div>
	</div>
</div>

<script src="{{ "static/js/sort.js" | absolute_url }}?ver={{ site.github.build_revision }}"></script>
<script src="{{ "static/js/display.js" | absolute_url }}?ver={{ site.github.build_revision }}"></script>
